h1 {
    color: black;
}
.img-10, .img-11, .img-12 {
    position: absolute;
    margin-left: 950px;
    margin-top: -180px;
    background-color: gray;
    filter: grayscale(100%);
}
.img-11 {
    margin-left: 1150px;
    margin-top: -180px;
    background-color: gray;
    filter: grayscale(100%);
}
.img-12 {
    margin-left: 1350px;
    margin-top: -180px;
    background-color: gray;
    padding-bottom: 20px;
    padding-top: 20px;
    filter: grayscale(100%);
}
.hoh {
    margin-left: 80px;
    font-size: 2.5em;
}
.hoh1 {
    margin-left: 80px;
    font-size: 1.5em;
    color: darkgray;
}
span {
    color: red;
}