@import '../../assets/style/settings';

.body-excursion {
    height: 100vh;
    width: 100%;
    margin: 0 auto;
    margin-top: 150px;
    

    .top {
        width: 100%;
        padding: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .left {
            color: $blue;
            font-weight: 700;
            font-size: 24px;

        }

        .right {
            text-decoration: underline;
        }
    }

    .bottom {
        margin-top: 10px;
        .cards {
            width: 100%;
            margin: 0 auto;
            .values-wrapper {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                
                .value-item {
                    background: url('../../assets/images/About.png') no-repeat;
                    background-position: center;
                    background-size: cover;
                    width: 300px;
                    height: 500px;
                    display: flex;
                    justify-content: center;
                    align-items: end;
                    padding: 10px;
                    padding-bottom: 30px;
                    border-radius: 20px;
                    margin-right: 100px;
                    div{
                      p{
                        margin-bottom: 20px;
                        color: $light;
                    }
                    #p-1{
                    font-weight: 500;
                    font-size: 12px;
                    }
                    #p-2{
                        font-weight: 700;
                        font-size: 14px;
                        color: $yellow-b;
                    }
                    #p-3{
                        font-weight: 500;
                    font-size: 12px;
                    }  
                    }
                    
                    #btn{
                        @extend %btn;
                    }
                }

            }
        }
    }
}
